# Android
*.apk
*.aar
*.ap_
*.aab
*.so
*.dex
*.class
.gradle
.idea/
build/
local.properties

# Firebase
google-services.json
app/google-services.json

# IDE
.DS_Store
.vscode/
*.swp
*.swo
*~
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Environment
.env
.env.local
.env.*.local
